@media (max-width: 1404px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .img {
    right: 30px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .title_3 {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img {
    right: -148px;
  }
  .img__cloud__2 {
    display: none;
  }
  .img_1 {
    right: -310px;
    bottom: 55px;
  }
  .link {
    font-size: 10px;
  }
  .mr {
    margin-right: 30px;
  }
  .bl_text__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img_slider img {
    display: none;
  }
  .block-2 {
    height: 429px;
  }
  .img_1 {
    bottom: 30px;
  }
  .block-1 {
    height: 790px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation_1 {
    font-size: 10px;
  }
  .we,
  .asd {
    position: absolute;
    right: 65px;
    font-size: 25px;
    background-color: lightblue;
    width: 250px;
    margin-right: 0px;
    z-index: 2;
    top: 65px;
  }
  .asd {
    top: -200px;
    right: 220px;
  }
  .color {
    height: 50px;
    padding: 5px 0 0 5px;
  }
  .img {
    display: none;
  }
  .button_1 {
    margin-left: 0px;
  }
  .img_1 {
    display: none;
  }
  .email_1 {
    width: 525px;
  }
  .button_2 {
    width: 120px;
  }
  .mr_1_l {
    margin-left: 6px;
  }
  .mr_1 {
    margin-right: 10px;
  }
  .mr {
    margin-right: 4px;
  }
  .link {
    font-size: 12px;
  }
  .block-1 {
    text-align: center;
  }
  .title__2 {
    padding-top: 50px;
  }
  .title__1 {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .block-1,
  .bg {
    height: auto;
  }
  .bl_text {
    width: 100%;
  }
  .block-3 {
    height: auto;
  }
  .contact {
    margin-bottom: 30px;
  }
  .title {
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .text form {
    margin-bottom: 30px;
  }
  .none,
  .none1 {
    display: block;
    font-size: 30px;
  }
  .none {
    background-color: none;
  }
  .none1 {
    margin-right: 30px;
  }
  .qwer,
  .link {
    display: none;
  }
  .button_1 {
    height: 55px;
  }
  .we,
  .asd {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 541px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation_1 {
    font-size: 10px;
  }
  .img_logo div {
    margin: 20px 0;
  }
  .bg__1 {
    height: 320px;
    padding-bottom: 10px;
  }
  .title_3 {
    font-size: 36px;
  }
  .icon_shift {
    display: none;
  }
  .email_1,
  .email {
    width: 375px;
  }
  .button_2 {
    margin-left: 5px;
  }
  .subtitle {
    text-align: center;
    padding-bottom: 30px;
  }
  .block-2 {
    height: 465px;
  }
  .icon_text_1 {
    width: 480px;
  }
  .img {
    display: none;
  }
  .button_1 {
    margin-left: 0px;
  }
  .img_1 {
    display: none;
  }

  .button_2 {
    width: 120px;
  }
  .mr_1_l {
    margin-left: 6px;
  }
  .mr_1 {
    margin-right: 10px;
  }
  .mr {
    margin-right: 4px;
  }
  .link {
    font-size: 8px;
  }
  .img__cloud__1 {
    display: none;
  }

  .img_logo {
    display: block;
    text-align: center;
    padding-top: 10px;
  }
  .block-1 {
    text-align: center;
  }
  .title__3 {
    font-size: 30px;
    margin-left: -80px;
    width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .block-2 {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .img_logo {
    display: block;
  }
  .title {
    font-size: 45px;
    width: 400px;
  }
  .email {
    width: 315px;
  }
  .email_1 {
    width: 340px;
  }
  .button_2 {
    width: 100px;
  }
  .title__1 {
    font-size: 35px;
    padding-top: 70px;
    margin-bottom: 80px;
  }
  .bl_text {
    width: 340px;
  }
  .title__3 {
    font-size: 23px;
    margin-left: -140px;
    width: 490px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .bl_text__1 {
    width: 260px;
  }
  .title__2 {
    padding-top: 75px;
  }
  .we,
  .asd {
    width: 100%;
    right: 0;
  }
  .text form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button_1 {
    margin-top: 20px;
    width: 100%;
  }
  .title_3 div {
    text-align: center;
  }
  .bl_text {
    width: 100%;
  }
  .text-trans {
    margin: 0px;
  }
  .icon_text_1 {
    width: 100%;
    text-align: justify;
  }
  .bl_text__1 {
    width: 100%;
  }
  .block-2 {
    height: 650px;
  }
  .text-trans_1 {
    margin-left: 0px;
  }
  .contact {
    flex-direction: column;
  }
  .email_1 {
    width: 100%;
    padding-left: 70px;
  }
  .email_1::placeholder {
    font-size: 17px;
  }
  .button_2 {
    width: 100%;
    margin-top: 30px;
  }
  .email__button {
    left: 8px;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .color {
    height: 30px;
  }
  .logo_ta img {
    width: 165px;
  }
  .asd {
    top: -150px;
  }
}
