@media screen and (max-width: 1200px){
    .container{
        max-width: 992px;
    }
}
@media screen and (max-width: 991px){
    .container{
        max-width: 768px;
    }
}
@media screen and (max-width: 767px){
    .container{
        max-width: 541px;
    }
    
}